nav {
  background-color:rgba(6, 13, 25, 0.9);
}

.mt-custom {
  
}

.nav-menu {
  color:#fff;
}

.button:hover {
  background-color:#120D54;
}

#topBtn{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
  border-radius: 50%;
  outline:none;
}

.mt-custom {
  width:85%;
}

.text-about2 {
  width:85%;
}

.text-about3 {
  width:85%;
}

.img {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.lengkap1 {
  display:none;
}

.icon :hover {
  color:#C0C0C0 !important;
}

.container-img {
  position:relative;
  min-height:100vh;
}

.container-image {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding:10px;
}

.container-img .container-image .image {
  height:250px;
  width:350px;
  margin:5px;
  border:5px solid #fff;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
  cursor:pointer;
  overflow:hidden;
}

.container-img .container-image .image img {
  height:100%;
  width:100%;
  object-fit: cover;
  transition:.2s linear;
}

.container-img .container-image .image img:hover {
  transform:scale(1.1)
}

.container-img .popup-image {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,.9);
  height:100%;
  width:100%;
  z-index:100;
  display:none;
}

.container-img .popup-image span {
  position:absolute;
  top:5px;
  right:30px;
  font-size:60px;
  font-weight:bolder;
  color:#fff;
  cursor:pointer;
  z-index:100;
}

.container-img .popup-image img {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  border-radius: 5px;
  width:750px;
  object-fit:cover;
}

p {
  text-align:justify;
}

.about-icon {
  text-align:center;
  font-size:220%;
}

.card-icon {
  margin-left:5%;
  width:75%;
}

.icon-ig {
  color: red;
}

.icon-fb {
  color:blue;
}

.icon-wa{
  color:#65FD60;
}

@media (max-width:768px) {
  .container-img .popup-image img {
    width:95%;
  }
}


.footer-text {
  word-spacing: 5px;
}

.foot-nav {
  text-decoration:none;
}

::-webkit-scrollbar {
  width:10px;
  background:rgba(6, 13, 25, 0.9);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius:10px;
  background:rgba(6, 13, 25, 0.9);
}

::-webkit-scrollbar-thumb {
  background:#fff;
  border-radius:10px;
}


@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

@media only screen and (max-width: 600px) {
  
  nav {
  background-color:rgb(6, 13, 25);
  }
  
  .button:hover {
    background-color:rgba(6, 13, 25, 0.9);
  }
  
  .mt-custom {
    width:100%;
    
  }
  
  .hero {
    margin-top:5vh;
  }
  
  .judul {
    text-align:center;
  }
  
  .lengkap{
  display:none;
  }
  
  .card-icon {
    margin:0;
    width:100%;
  }
  
  .lengkap1{
  padding-top:50%;
  display:inline;
  width:70%;
  margin:auto;
  }
  
  .p {
    text-align:center;
  }
  
  .p-3 {
    margin:15px;
  }
  
  
  .btn-nav {
    border:none;
  }
  
  .text-about1 {
    width:100%;
  }
  
  .text-about2 {
    width:100%;
  }
  
  .text-about3 {
    width:100%;
  }
  
  .about {
    margin-top:10vh;
  }
  
  .img-ttg img {
    width:100%;
  }
  
  .logo-foot {
    display:none; 
  }
  
  .silang  {
    display:none;
  }
  
  .nav-link {
    text-align:center;
  }
  
  .footer-text {
    word-spacing: 0;
  }
}
